name: GitHub Actions
on: [push]
jobs:
  # front-test:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v4
  #   - name: Use Node.js 20.x
  #     uses: actions/setup-node@v4
  #     with:
  #       node-version: 20.x
  #       cache: 'npm'
  #       cache-dependency-path: front/package-lock.json
  #   - name: Install dependencies
  #     working-directory: ./front
  #     run: npm ci
  #   - name: Run tests
  #     working-directory: ./front
  #     run: npm test -- --no-watch --no-progress --browsers=ChromeHeadless --code-coverage --karma-config karma.conf.js
  #   - name: Archive test coverage
  #     uses: actions/upload-artifact@v4
  #     if: always()
  #     with:
  #       name: coverage-report
  #       path: front/coverage/

  # back-test:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v4
  #   - name: Set up JDK 11
  #     uses: actions/setup-java@v4
  #     with:
  #       java-version: '11'
  #       distribution: 'temurin'
  #       cache: 'maven'
  #   - name: Cache Maven dependencies
  #     uses: actions/cache@v4
  #     with:
  #       path: ~/.m2/repository
  #       key: maven-${{ hashFiles('**/pom.xml') }}
  #       restore-keys: maven-
  #   - name: Install dependencies
  #     working-directory: ./back
  #     run: mvn clean install
  #   - name: Run tests
  #     working-directory: ./back
  #     run: mvn clean test
  #   - name: Archive JaCoCo coverage report
  #     uses: actions/upload-artifact@v4
  #     if: always()
  #     with:
  #       name: jacoco-report
  #       path: back/target/site/jacoco/

  # front-quality:
  #     # needs: [front-test, back-test]
  #     runs-on: ubuntu-latest
  #     steps:
  #       - uses: actions/checkout@v4
  #         with:
  #           fetch-depth: 0
  #       - name: SonarQube Scan
  #         uses: SonarSource/sonarqube-scan-action@v4
  #         env:
  #           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #           SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  #         with:
  #           projectBaseDir: front/src
  #           args: >
  #             -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }}
  #             -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }}

  back-quality:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
          with:
            fetch-depth: 0
        - name: Set up JDK 11
          uses: actions/setup-java@v4
          with:
            java-version: '11'
            distribution: 'temurin'
        - name: Cache SonarQube packages
          uses: actions/cache@v4
          with:
            path: ~/.sonar/cache
            key: ${{ runner.os }}-sonar
            restore-keys: ${{ runner.os }}-sonar
        - name: Cache Maven dependencies
          uses: actions/cache@v4
          with:
            path: ~/.m2/repository
            key: maven-${{ hashFiles('**/pom.xml') }}
            restore-keys: maven-
        - name: SonarQube Scan
          working-directory: ./back
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.host.url=https://sonarcloud.io -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }} -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }}

  # docker:
  #   needs: [front-quality, back-quality]
  #   runs-on: ubuntu-latest
  #   steps:
  #       - uses: actions/checkout@v4
  #       - name: Login to Docker Hub
  #         uses: docker/login-action@v3
  #         with:
  #           username: ${{ secrets.DOCKERHUB_USERNAME }}
  #           password: ${{ secrets.DOCKERHUB_TOKEN }}
  #       - name: Set up Docker Buildx
  #         uses: docker/setup-buildx-action@v3
  #       - name: Build and push front
  #         uses: docker/build-push-action@v6
  #         with:
  #           context: ./front
  #           push: true
  #           tags: yoanb/bobapp-front:latest
  #       - name: Build and push back
  #         uses: docker/build-push-action@v6
  #         with:
  #           context: ./back
  #           push: true
  #           tags: yoanb/bobapp-back:latest
